{%include 'temheader.html'%}

    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center " style="padding-bottom: 0;">
          <div class="col-md-7 text-center heading-section ftco-animate" style="padding-top: 30px;">
            <h2 style="font-size: 20px;color:#FFF;"> Register Here</h2><br>
          </div>
        </div>
		
        <div class="row d-flex">
        <center>
          <div class="col-md-8 ftco-animate makereservation p-5 bg-light">
              {% if messages %}
              {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
              {% endfor %}
            {% endif %}
            <form  method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="row">
			
                    <label for="">Student Name</label>
                    <input type="text" class="form-control" name="uname"  required="required">
                    <label for="">Mobile Number</label>
                    <input type="number" class="form-control" name="mobile"  required="required">
                 
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" required="required">
                     <label for="">Username</label>
                    <input type="text" class="form-control" name="username" required="required">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="pwd"  required="required">
                    <label for="">DOB</label>
                    <input type="date" class="form-control" name="dob" required="required">
                    <label for="">Area of Interest</label>
                    <input type="text" class="form-control" name="education" required="required">
                    <label for="">Score</label>
                    <input type="text" class="form-control" name="score" required="required"><br>
                    <label for="">Cuttoff Mark</label>
                    <input type="text" class="form-control" name="cutoff_mark" required="required"><br>
                    <label for="">Caste</label>
                    <select class="form-control" name="caste" required="required">
                        <option value="">Select</option>
                        <option value="OC">OC</option>
                        <option value="BC">BC</option>
                        <option value="BCM">BCM</option>
                        <option value="MBCV">MBCV</option>
                        <option value="MBCDNC">MBCDNC</option>
                        <option value="MBC">MBC</option>
                        <option value="SC">SC</option>
                        <option value="SCA">SCA</option>
                        <option value="ST">ST</option>
                    </select><br>
                    <div><label for="">Gender</label></div>
                    <input type="radio"  name="gender"  value="male"> Male
                    <input type="radio"  name="gender"  value="female"> FeMale <br>
                    <div><label for="">Profile Pic</label></div>
                    <input type="file" class="form-control" name="image" required="required">
                     <label for="">Country</label>
                    <input type="text" class="form-control" name="country"  required="required">
                     <label for="">State</label>
                    <input type="text" class="form-control" name="state"  required="required">
                     <label for="">City</label>
                    <input type="text" class="form-control" name="city"  required="required">
                    <label for="">Address</label>
                    <textarea  class="form-control" name="address" required="required"></textarea>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="Create an Account" class="btn btn-success btn-lg">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
		</center>
    </section>
{%include 'temfooter.html'%}